/*  -- =============== АДАПТИВ ПОД МОНИТОРЫ =============== --*/
@media (max-width: 1440px) {
  .marketing-container {
    height: 40vw;
  }

  .fast-sevice__box {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }


}

@media (max-width: 1280px) {
  .fast-sevice__box {
    max-width: 1024px;
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .header__list {
    font-size: 14px;
  }


  .contacts-wrapper__email {
    font-size: 14px;
  }

  .contacts-wrapper__text {
    font-size: 12px;
  }
}

/*  -- =============== АДАПТИВ ПОД ПЛАНШЕТЫ =============== --*/
@media (max-width: 1024px) {
  .header__list {
    font-size: 10px;
  }

  .contacts-wrapper__email {
    font-size: 10px;
  }

  .contacts-wrapper__text {
    font-size: 9px;
  }

  .fast-sevice__box {
    max-width: 620px;
    width: 100%;
  }

}

@media (max-width: 888px) {
  .header__list {
    font-size: 8px;
  }

  .contacts-wrapper__email {
    font-size: 8px;
  }

  .contacts-wrapper__text {
    font-size: 6px;
  }

}

@media (max-width: 768px) {

  :root {
    
    /* -- =============== FONT AND TYPOGRAPHY =============== -- */
    /* -- .5rem = 8px | 1rem = 16px | 2rem = 32px -- */
    --body-font: 'Poppins', sans-serif;
  
    --body-font-size: 0.75rem; /* 12px */
  
    --h1-font-size: 32px; /* 2rem */
    --h2-font-size: 24px; /* 1.5rem */
    --h3-font-size: 20px; /* 1.25rem */
    --h4-font-size: 16px; /* 1rem */
    --h5-font-size: 14px; /* 0.875rem */
    --h6-font-size: 12px; /* 0.75rem */
  
    --text-font-size: 12px; /* 0.75rem */
    --description-font-size: 10px; /* 0.625rem */
  
    --button-font-size: 12px; /* 0.75rem */
  
  }

  .header__list {
    display: none;
  }

  .marketing-text p {
    width: 350px;
  }

  .actions__menu-item {
    gap: 10px;
    min-height: 50px;
  }

  .services-list__item-title {
    min-height: 5vw;
  }
  
  .fast-sevice__box-title {
    font-size: 20px;
  }

  .fast-sevice__box-text {
    font-size: 14px;
  }

  .answers-accord__item {
    padding: 15px 30px;
  }

  .services-list__item-money {
    font-size: 20px;
  }



}

/*  -- =============== АДАПТИВ ПОД СМАРТФОНЫ =============== --*/

@media (max-width: 620px) {
  .case__list-item {
    min-height: 45vw;
  }

  .marketing-container {
    gap: 10px;
  }

  .marketing-button {
    font-size: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .feedback__question-wrapper {
    justify-content: center;
  }

  .feedback__question-heading-title {
    text-align: center;
  }

  .fast-sevice__box {
    min-height: 350px;
  }

  .fast-sevice__box {
    max-width: 320px;
    width: 100%;
  }


}
@media (max-width: 480px) {

  :root {
    
    /* -- =============== FONT AND TYPOGRAPHY =============== -- */
    /* -- .5rem = 8px | 1rem = 16px | 2rem = 32px -- */
    --body-font: 'Poppins', sans-serif;
  
    --body-font-size: 0.625rem; /* 10px */
  
    --h1-font-size: 24px; /* 1.5rem */
    --h2-font-size: 20px; /* 1.25rem */
    --h3-font-size: 16px; /* 1rem */
    --h4-font-size: 14px; /* 0.875rem */
    --h5-font-size: 12px; /* 0.75rem */
    --h6-font-size: 10px; /* 0.625rem */
  
    --text-font-size: 10px; /* 0.625rem */
    --description-font-size: 8px; /* 0.5rem */
  
    --button-font-size: 10px; /* 0.625rem */
  
  }

  .marketing-text p {
    width: 250px;
  }

  .actions__menu-item {
    max-width: 300px;
    height: auto;
  }

  .services-list__item-money {
    font-size: 16px;
  }

  .feedback__select-buttons {
    /* flex-direction: column; */
    gap: 20px;
  }

  .services-list-item {
    max-width: 300px;
  }

}

@media (max-width: 420px) {
  

}

@media (max-width: 360px) {
  .actions__menu-item {
    max-width: 250px;
  }

  .partners__list-item {
    width: 250px;
    height: 100px;
    padding: 20px;
  }

  .services-list-item {
    max-width: 250px;
  }

}

@media (max-width: 320px) {


  :root {
    
    /* -- =============== FONT AND TYPOGRAPHY =============== -- */
    /* -- .5rem = 8px | 1rem = 16px | 2rem = 32px -- */
  
    --body-font-size: 0.625rem; /* 10px */
  
    --h1-font-size: 20px;
    --h2-font-size: 16px; 
    --h3-font-size: 14px;
    --h4-font-size: 12px; 
    --h5-font-size: 10px; 
    --h6-font-size: 8px; 
  
    --text-font-size: 8px; 
    --description-font-size: 6px; 
  
    --button-font-size: 8px;
  
  }

  .marketing-text p {
    width: 200px;
  }

  .partners__list-item {
    width: 200px;
  }

  



}